@charset utf-8;

:root{      /* main variables */
    --newtab-background-color:rgb(0, 40, 45);
    --newtab-text-primary-color:rgba(251, 251, 254, 1);
    --lwt-sidebar-background-color:rgb(56, 56, 61);
    --lwt-sidebar-text-color:rgba(249, 249, 250, 1);
    --newtab-background-button-hover-color: rgba(114, 114, 114, 0.5)
    --newtab-search-icon: url(moz-extension://d970f544-e406-4b61-a005-5066d09004d7/favicon.ico);
}



body {
    background: rgb(0, 40, 45);     /* acceptable: hex, rgb, rgba, hsl and words */
    font-family: 'Noto Sans JP', sans-serif;        /* edit font style */
}


.personalize-button{
    /*
    font-size: 12px;
    font-weight: 600;
    border: 0;
    border-radius: 4px;
    */

    transition: .4s;
    border-radius: 0px;
    padding: 0 12px;
    font-size: 10px;
    font-weight: 400;
    /*background-image: url('./demo-img/personalize-icon.png');*/
}


.personalize-button:hover {
	background-color: var(--newtab-background-button-hover-color);
}



/* collapsible section styling */
.outer-wrapper.newtab-experience .search-wrapper .search-handoff-button,
.outer-wrapper .newtab-experience { /* searchbar */
    border-radius: 0px;
}


.top-site-outer{
  transition: .4s;
}


.tile{
  border-radius: 50% !important;
  width: 75px !important;
  height: 75px !important;
}


.icon-wrapper{
  width: 48px;
  height: 48px;
  transition: .2s;
  border-radius: 50% !important;
}


.icon-wrapper:hover{
  width: 55px !important;
  height: 55px !important;
}