@charset utf-8;

.tile{
    border-radius: 50%;
}


.outer-wrapper .newtab-experience .ds-top-sites .top-sites .top-sites-list{
    margin: 50px -12px;
}

.top-site-outer .tile .icon-wrapper {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}